.wapper {
  height: 100%;
}

.navlist {
  height: 100vh;
  overflow: auto;
  list-style: none;
  padding: 15px;
  text-transform: capitalize;
}

.catList {
  background: #252a3a;
  color: white;
}

.postList {
  color: #252a3a;
}
.brand {
  font-weight: bold;
}

.link {
  cursor: pointer;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

img {
  max-width: 100%;
}
